.title {
    text-align: center;
    font-size: 30px;
    line-height: 30px;
}
.div_an {
    height: 300px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0YvnMwM6_x_6gH9FixWzRjFl-XXw53iDhRhC-ThJKMTfdr3geW-S2YmB32Q&s);
    background-size: cover;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 200px;
}    
.div_an.first {
    margin-top: 170px;
}
.sigma {
    width: 10px;

}







